@%%USERNAME%% ✨🌟🌟✨      
CONGRATULATIONS on your feature today with @snap_%%PAGENAME%%, [[USER NAME]]! ✨🏆✨ Thank you for sharing your wonderful image, and please continue tagging us at #snap_%%PAGENAME%% for the chance of more features! 🌟👍🙏😻🌟
