Script Templates/PrepareTemplates/.vs/
Script Templates/PrepareTemplates/bin/
Script Templates/PrepareTemplates/obj/
Script Templates/PrepareTemplates/*.csproj.user
Script Templates/PrepareTemplates-linux
Script Templates/PrepareTemplates-mac
Script Templates/PrepareTemplates.exe
Vero Scripts Windows/.vs/
Vero Scripts Windows/Vero Scripts/bin/
Vero Scripts Windows/Vero Scripts/obj/
Vero Scripts Windows/Vero Scripts/*.csproj.user
