Script Templates/PrepareTemplates/bin/
Script Templates/PrepareTemplates/.vs/
Script Templates/PrepareTemplates/obj/
Script Templates/PrepareTemplates-linux
Script Templates/PrepareTemplates-mac
Script Templates/PrepareTemplates.exe
