👏🎉 @%%USERNAME%% ✨ [[PERSONALIZED MESSAGE]]. Congratulations on your feature with @snap_%%PAGENAME%% today, and thank you for using our hashtag. Keep tagging #snap_%%PAGENAME%% or #snap_street_art for a chance of more features. 👍💙🎉
