✨👍💕 @%%USERNAME%% ✨ [[PERSONALIZED MESSAGE]]. Congratulations on your feature with #snap_%%PAGENAME%% today, [[USER'S FIRST NAME]], and thank you for tagging us. Keep tagging #snap_%%PAGENAME%% for a chance of more features. 👍💕🌟
