🌟@%%USERNAME%% 🌟 [[PERSONALIZED MESSAGE]].  Congratulations on your new feature with @snap_%%PAGENAME%% today.  Thank you so very much for tagging us and remember to keep using our #snap_%%PAGENAME%% for more features ✴️🌟✨
