🌟 @%%USERNAME%% 🌟👍 [[PERSONALIZED MESSAGE]]. Congratulations on your first feature with @snap_%%PAGENAME%% today. Thank you very much for tagging us. Keep using our hashtag #snap_%%PAGENAME%% for a chance of more features.  👏❤️🌟