✨✨ CONGRATULATIONS!!! ✨✨
@%%USERNAME%%: You have been featured as part of the @snap_community 
[[write individual comment to represent photo featured]]
Thank you for tagging this great photo with #snap_%%PAGENAME%%
