🏆Congratulations! You have been featured @%%USERNAME%% 🏆
😍 Just an amazing shot. ✨✨
💕 🎉 Thanks for tagging this great picture with #snap_%%PAGENAME%%💫 🙏
🏆Keep tagging #snap_%%PAGENAME%% for a chance of more features. 👍💕🌟
